name: "Deploy to self-hosted server"
on:
  pull_request_target:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy_image:
    runs-on: ubuntu-latest
    if: ${{ vars.MAKE_BUILD == 'TRUE' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Github Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push compose images
        run: | 
          docker compose build 
          docker compose push
  deploy:
    needs: deploy_image
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Create deployment directory
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-client-secret: ${{ secrets.TS_OAUTH_CLIENT_SECRET }}
#          audience: ${{ secrets.TS_AUDIENCE }}
          tags: tag:ci
      - name: Check tailscale status
        run: | 
          tailscale status
      - name: Create deployment directory
        run: |
            tailscale ssh ${{ vars.USERNAME }}@${{ secrets.SSH_ADDRESS }} \  
            "mkdir -p /home/${{ vars.USERNAME }}/check24"
      - name: Copy to compose file to ssh server
        run: | 
          rsync -av \
            -e "tailscale ssh" \ 
            docker-compose.yml \ 
            ${{ vars.USERNAME }}@${{ secrets.SSH_ADDRESS }}:/home/${{ vars.USERNAME }}/check24/
      - name: Deploy via SSH
        run: |
          tailscale ssh ${{ vars.USERNAME }}@${{ secrets.SSH_ADDRESS }} << 'EOF'
            set -e
            mkdir -p /home/${{ vars.USERNAME }}/check24 
            cd /home/${{ vars.USERNAME }}/check24
            docker compose pull
            docker compose up -d
          EOF